<div>
  <h2><%= @content[:title] %></h2>
  
  <p>Hi <%= @user.profile&.first_name || @user.email %>,</p>

  <p><%= @content[:message] %></p>

  <div style="text-align: center; margin: 30px 0;">
    <a href="<%= @verification_url %>" class="button">
      Verify Email Address
    </a>
  </div>

  <p>Or copy and paste this link in your browser:</p>
  <p><%= @verification_url %></p>

  <div class="divider"></div>

  <div>
    <h3>Next Steps:</h3>
    <ul>
      <% @content[:next_steps].each do |step| %>
        <li><%= step %></li>
      <% end %>
    </ul>
  </div>

  <div class="divider"></div>
  
  <p class="footer">
    If you didn't create an account, please ignore this email.<br>
    This link will expire in 24 hours.
  </p>
</div>